<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3F898431E5D63AF00FE7C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F8985C1E5D63B000FE7C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F898671E5D63B000FE7C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
